<html>
<head>
    <title>Task Management</title>
   <link rel="stylesheet" href="./public/bootstrap.min.css">
    <script src="./public/jquery-3.3.1.slim.min.js"></script>
    <script src="./public/popper.min.js"></script>
    <script src="./public/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">Task Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"></div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Invite to {{my_tb.title}}</h3>
            <hr>
            <form action="/invite" method="post">
                <div class="form-group">
                    <label for="">Users</label>
                    <select name="users" multiple class="form-control">
                        {%for my_user in my_users%}
                        <option value="{{my_user.key.id()}}">{{my_user.email}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" value="{{my_tb.key.id()}}" name="tbid">
                    <input type="submit" name="submit" value="submit" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Invited Users</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                {%for invited_user in invited_users%}
                <tr>
                    <td>{{invited_user.email}}</td>
                    <td>
                        <a onclick="confirm('Are you sure to uninvite');"
                           href="/invite?task=uninvite&id={{my_tb.key.id()}}&uid={{invited_user.key.id()}}"
                           class="btn btn-danger">Uninvite</a>
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>